body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
::selection{
    background-color: rgb(210, 60, 60);
}
p{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.top-bar{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 8px;
    text-align: center;
    width: 100%;
}
#errorUsuario, #errorEmail, #errorPassword, #errorPassword2{
    color: #ef0f0f;
    font-size: 12px;
    display: none;
}
#login{
    width: 320px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 12px;
  }

#login label {
    margin: 0;
    padding: 0;
    display: block;
  }
.account{
    color: rgb(210, 60, 60);
    text-decoration-line: none;
    display: block;

}

#inputUser, #inputEmail, #inputPassword, #btnLogin, #parrafo, #inputPassword2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    width: 100%;
    text-align: center;
}
#btnLogin{
    background-color: rgb(210, 60, 60);
    width: 100%;
    font-size: 25px;
}
#parrafo{
    font-size: 60px;
}
